# archivos de datos 
/precipitation_data.txt
/results_probabilities.csv
/stations_location.txt
/TCs_data.txt
/Thresholds.csv

# otros
FS-0624\ DE-notas.pdf
FS-0624\ DE.pdf
gmt-6.4.0-win64.exe
Hexagonal_Grid_wTCs.png
Manual(1).pdf
Tool.zip
*.pyc
/capturas